
<div class="container">
  <div class="row">
    <div class="span12" style="text-align:center;">
      <div class="hero-unit">
        <h1>Logged in as <%= current_user.email %></h1>
      </div>
    </div>
  </div>
</div>